* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  flex-direction: column;
  gap: 2em;
}
#interação {
  display: flex;
  align-items: center;
  justify-content: center;
}

#visualizar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

#visualizar div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

label {
  font-weight: bold;
  width: 100px;
}

input {
  flex: 1; /* Faz os inputs ocuparem o espaço restante */
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#limpar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100px;
  margin: auto;
}
